@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a{
      @apply text-slate-500;
  }
}

@layer utilities {
  .text-bigger-hello{
      @apply text-3xl font-semibold;
  }
}

@layer components {
      .primary-btn {
      @apply w-full bg-slate-500 font-semibold rounded-md hover:bg-slate-400 transition-colors
      text-white text-center py-2.5
  }
} 
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}